<h1>{{heroe.nombre}} <small>{{heroe.aparicion}}</small></h1>
<hr>
<div class="row">
    <div class="col-md-4">
        <img src="assets/img/spiderman.png" alt="">
        <br><br>
        <a href="heroes" class="btn btn-outline-danger bt-block"></a>
    </div>
    <div class="col-md-8">
        <h3>Nombre Heroe</h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>
        <div>
            <img src="assets/img/spiderman.png" atl="">
            <img src="assets/img/spiderman.png" atl="">
        </div>
    </div>
</div>